$base-margin: 15px;
$base-component-width: 400px;

a {
  text-decoration: none;
  color: black;
}

.container {
  margin: $base-margin;
}

.container-with-border {
  border:3px solid rgba(0,0,0,0.1);
  border-radius: 10px
}

.section {
  padding: $base-margin;
}

.field {
  margin-top: $base-margin !important;
  margin-right: $base-margin !important;
  max-width: $base-component-width !important;
}

.field-with-border {
  margin-top: $base-margin !important;
  margin-right: $base-margin !important;
  max-width: $base-component-width !important;
  border:3px solid rgba(0,0,0,0.1);
  border-radius: 10px
}

.filterBox {
  margin-top: -10px !important;
  margin-bottom: 20px !important;
}